*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body{
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serrif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}

h1{
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;  
}

.row{
    margin: 0 auto;
    max-width: 1145px;
}

section{
    padding:20px 0;
}

/*--------header starts----------*/
.header{
    padding: 10px 0 0 10px ;
}
/*--------header ends----------*/

/*------item header starts-----*/
.itemheader{
    text-transform: uppercase;
    margin: 0 10px;
}

.itemheader:before{
    display: block;
    height: 1px;
    background-color: #a1a1a1;
    content: "";
}

.itemheader:before{
    display: block;
    height: 1px;
    background-color: #a1a1a1;
    content: "";

}

.item-header-items{
    margin-left: 10px;
}

.item-header-items li{
    display:inline-block;
    list-style: none;
    margin: 15px 0 0 0;
}

.item-header-items li + li{
    width: 10%;
}

.item-header-items li:first-child{
    width: 70%;
}
.item-header-70-col{
    width: 70%;
}
.item-header-10-col{
    width: 10%;
}
/*------item header ends-----*/

/*----item (cart Item) starts here----*/

.cartitem{
    margin-bottom:20px;
}

.cartitems .cartitem+.cartitem:before{
    display: block;
    height: 1px;
    background-color: #a1a1a1;
    content: "";
}

.cartitems:before,
.cartitems:after{
    display: block;
    height: 5px;
    margin-top:10px;
    background-color: #a1a1a1;
    content: "";
}

.item-desc{
    width: 70%;
}

.item-img{
    display: inline-block;
    width: 30%;
}

.item-content-details li{
    list-style: none;
    font-size: 75%;
}
.item-content-options li{
    list-style: none;
    font-size: 75%;
    display:inline-block;
    padding-right:10px;
}

.item-content-options li+li::before{
    content: "|";
    margin-right: 10px;
}

.item-content-details{
    display:inline-block;
    width:60%;
    margin-top:30px;
}

.item-content-details li:first-child{
    text-transform: uppercase;
    font-weight:400;
}

.item-content-details li:last-child{
    text-transform: capitalize;
}

.item-content-wrapper{
    width: 70%;
    display: inline-block;
}

.item-content{
    vertical-align: top;
    height: 162px;
    width: 70%;
    display: inline-block;
}

.item-quant{
    display: inline-block;
    width: 13.3%;
    
}

.item-quant span{
    display: none;
}

.item-size{
    display:inline-block;
    width: 13.3%;
}

.item-size span{
    display: none;
}

.item-price{
    display:inline-block;
    width: 13.3%;
}

.item-operations{
    width: 70%;
    float: right;
}
/*----item (cart Item) ends here----*/

/*----item cart starts here----*/
.contact-us{
    width: 30%;
    display: inline-block;
}

.contact-us-items li{
    list-style: none;
    font-size: 75%;
    margin-bottom: 20px;
}

.contact-us-items li:first-child{
    font-weight: 400;
}

.contact-us-items li:nth-last-child(-n+2){
    text-decoration: underline;
}

.coupon:after{
    display: block;
    height: 5px;
    background-color: #a1a1a1;
    content: "";
    margin-top: 80px;
}

.coupon input[type=submit]{
    background-color: #ffffff;
    font-weight: 700;
    border: 1px transparent;
    margin :6px auto;
    display: block;
    font-size:65%;
}

.promo-text{
    width:40%;
    display: inline-block;
}

.promo-code-box{
    width:30%;
    display: inline-block;
}

.btn-border{
    width:30%;
    display: inline-block;
}

.btn-border input[type=submit]{
    border: 1px solid #a1a1a1;
    padding: 6px 22px;
}

.cal-labels{
    width:90%;
    display: inline-block;
}

.labels li{
    list-style: none;
    margin: 25px 0;
    font-size:75%;
    font-weight:500;
}

.prices li{
    list-style: none;
    margin: 25px 0;
    font-size: 85%;
    font-weight: 800;
    font-style: italic;
}

.cal-prices{
    width: 10%;
    display: inline-block;
}

.cart-details{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.calculations:after{
    display: block;
    height: 1px;
    margin-top:10px;
    background-color: #a1a1a1;
    content: "";
}

.total{
    margin: 15px 0;
}

.total:after{
    display: block;
    height: 5px;
    background-color: #a1a1a1;
    margin-top:15px;
    content: "";
}


.total-label{
    width:90%;
    display:inline-block;
}

.total-label p{
    font-size:120%;
    text-transform: uppercase;
    font-weight:500;
}

.total-price{
    width: 10%;
    display: inline-block;
}

.checkout{
    width:45%;
    float:right;
}

.checkout p{
    margin-top:10px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 75%;
    font-weight:500;
}

.checkout input[type="submit"]{
    float:right;
    font-size:75%;
    background-color: #0000ff;
    color:#ffffff;
    padding: 8px 10px;
    border: 2px solid #0000ff;
}
/*----item cart ends here----*/

/*-------footer starts here------*/
.footer{
    float:right;
}

.footer p:first-child{
    font-size: 75%;
    vertical-align: text-top;
    margin-left: 4px;
    float:right;
    margin-top: 10px;
}

.footer p:last-child{
    display: none;
}
/*-------footer ends here------*/